.container-fluid .card-body .search_add{
	margin-bottom: 20px !important;
}

.container-fluid .card-body .search_add .group_search{
	text-align: left;
	padding-left: 0px;
}


.container-fluid .card-body .search_add .group_search input{
	display: inline-block;
}
.container-fluid .card-body .search_add .group_search .btn_search{
	margin-top: -5px !important;
}

.container-fluid .card-body .search_add .group_add{
	text-align: right ;
	padding-right: 0px;
}

.container-fluid .card-body .table-bordered .btn_delete,.container-fluid .card-body .table-bordered .btn_update{
	text-align: center;
}